APP_NAME=AttendAI Face Recognition API
APP_ENV=development
APP_DEBUG=true
API_PREFIX=/api
CORS_ORIGINS=http://localhost:3000
APPWRITE_ENDPOINT=https://nyc.cloud.appwrite.io/v1
APPWRITE_PROJECT_ID=69d53599001c62969125
APPWRITE_API_KEY=<YOUR_SERVER_API_KEY>
APPWRITE_DATABASE_ID=<DATABASE_ID>
APPWRITE_USERS_COLLECTION_ID=<USERS_COLLECTION_ID>
APPWRITE_ATTENDANCE_COLLECTION_ID=<ATTENDANCE_COLLECTION_ID>
FACE_MODEL=Facenet512
DEFAULT_SIMILARITY_THRESHOLD=0.6
FRAME_PROCESS_STRIDE=3
MAX_FRAME_WIDTH=640
LIVENESS_MIN_FRAMES=6
LIVENESS_MIN_DISPLACEMENT=15
